<div class="main topics-new">
  <div class="container">
    <h1 class="form-heading">新規投稿</h1>
    <%= form_tag("/topics/create") do %>
      <div class="form">
        <div class="form-body">
          <% @topic.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>画像</p>
          <input name="image" type="file">
          <p>コメント</p>
          <input name="description" value="<%= @topic.description%>">
          
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>