<div class="main topics-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/topics/create") do %>
    <div class="form">
      <div class="form-body">
        <textarea name="description"></textarea>
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>
  </div>
</div>